@charset "UTF-8";

:root {
    --verde: #49a09d;
    --lil치s: #5f2c82;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body, html {
    background-color: var(--lil치s);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;    
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.445);
    
    transform: translate(-50%, -50%);
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

section#login > div.img {
    display: block;
    background-image: url(../img/pexels-2149489342-35218940.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    background-position: center left;
}

section#login > div.formulario {
    display: block;
    padding: 10px;

}

div.formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.2em;
}

div.formulario > p {
    font-size: 0.9em;
}

form > div.campo {
    background-color: var(--lil치s);
    display: block;
    height: 40px;
    width: 100%;
    border-radius: 8px;
    margin: 5px 0px;
    border: 2px solid var(--lil치s);
}

div.campo > label {
    display: none;
}

div.campo > span {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    background-color: #94cfcd;
    font-size: 1em;
    width: calc(100% - 44.4px);
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 5px;
    transform: translateY(-12px);
}

div.campo > input:focus-within {
    background-color: white;
    border: none;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: var(--verde);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #2b7c78;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: white;
    color: #2b7c78;
    border: 1px solid #49a09d;
    border-radius: 5px;
    text-decoration: none;
}

form > a.botao:hover {
    background-color: #6cd3cf;
}

form > a.botao > span {
    font-size: 0.8em;
}