@charset "UTF-8";

:root {
    --verde: #49a09d;
    --lilás: #5f2c82;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body, html {
    background-color: var(--lilás);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.445);

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

section#login > div.img {
    display: block;
    background-image: url(../img/pexels-2149489342-35218940.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    background-position: center left;
}

section#login > div.formulario {
    display: block;
    padding: 10px;

}